<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 minutes" debug="false">
     <property name="APP_Name" value="plantrest" />
     <contextName>${APP_Name}</contextName>  
     
    <!-- 下面配置一些第三方包的日志过滤级别
    level:TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，还有一个特俗值INHERITED或者同义词NULL，代表强制执行上级的级别。如果未设置此属性，那么当前loger将会继承上级的级别。
     addtivity:是否向上级loger传递打印信息。默认是true。
     -->
    <logger name="org.springframework.web" level="DEBUG" additivity="false"/>
    
    <!-- 上生产的时候记得修改info级别 ，优先生效-->
    <!-- <logger name="com.extracme.framework" level="DEBUG" /> -->
    <!-- <logger name="dao" level="DEBUG"/> -->

    
    <logger name="dao" level="DEBUG">  
        <appender-ref ref="LOGFILE" />  
    </logger>  
 
    
    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger | %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 文件日志 每天打一个包-->
     <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/${APP_Name}.log</File>
        <!-- 日志分包策略：基于时间的分包策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/${APP_Name}.log.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %thread | %-5level | %logger | %msg%n</pattern>
        </layout>
    </appender> 
   <!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，默认是DEBUG。生产时候使用info级别-->
   <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGFILE" /> 
    </root>
    
</configuration>
